
   
services:
  credentialsgen:
    image: stackql/stackqlsrvcertificates
    build:
      context: .
      cache_from: 
        - stackql/stackql
        - stackql/stackqlsrvcertificates
      target: certificates
    volumes:
      - ./cicd/vol/srv/credentials:/opt/stackql/srv/credentials:rw
    command: 
      - bash
      - -c
      - |
        openssl req -x509 -keyout /opt/stackql/srv/credentials/pg_server_key.pem -out /opt/stackql/srv/credentials/pg_server_cert.pem  -config /opt/test/stackql/test/server/mtls/openssl.cnf -days 365 \
        && openssl req -x509 -keyout /opt/stackql/srv/credentials/pg_client_key.pem -out  /opt/stackql/srv/credentials/pg_client_cert.pem  -config /opt/test/stackql/test/server/mtls/openssl.cnf -days 365 \
        && openssl req -x509 -keyout /opt/stackql/srv/credentials/pg_rubbish_key.pem -out /opt/stackql/srv/credentials/pg_rubbish_cert.pem -config /opt/test/stackql/test/server/mtls/openssl.cnf -days 365

