{
  "kind": "discovery#restDescription",
  "rootUrl": "https://bigquery.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch/bigquery/v2",
  "mtlsRootUrl": "https://bigquery.mtls.googleapis.com/",
  "name": "bigquery",
  "servicePath": "bigquery/v2/",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "version": "v2",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for the response.",
      "default": "json",
      "enum": [
        "json"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "userIp": {
      "location": "query",
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "description": "A data platform for customers to create, manage, share and query data.",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/search-32.gif",
    "x16": "https://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ProjectList"
          },
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return",
              "location": "query",
              "type": "integer",
              "format": "uint32"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            }
          },
          "id": "bigquery.projects.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all projects to which you have been granted any project role.",
          "path": "projects"
        },
        "getServiceAccount": {
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID for which the service account is requested."
            }
          },
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "id": "bigquery.projects.getServiceAccount",
          "path": "projects/{projectId}/serviceAccount",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "httpMethod": "GET"
        }
      }
    },
    "tabledata": {
      "methods": {
        "list": {
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "httpMethod": "GET",
          "id": "bigquery.tabledata.list",
          "response": {
            "$ref": "TableDataList"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "startIndex": {
              "type": "string",
              "format": "uint64",
              "location": "query",
              "description": "Zero-based index of the starting row to read"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "description": "Maximum number of results to return"
            },
            "projectId": {
              "description": "Project ID of the table to read",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Dataset ID of the table to read"
            },
            "selectedFields": {
              "location": "query",
              "type": "string",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned"
            },
            "tableId": {
              "type": "string",
              "description": "Table ID of the table to read",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, identifying the result set"
            }
          }
        },
        "insertAll": {
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the destination table.",
              "type": "string",
              "required": true
            },
            "tableId": {
              "description": "Table ID of the destination table.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "datasetId": {
              "required": true,
              "location": "path",
              "description": "Dataset ID of the destination table.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "id": "bigquery.tabledata.insertAll"
        }
      }
    },
    "rowAccessPolicies": {
      "methods": {
        "getIamPolicy": {
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:getIamPolicy",
          "id": "bigquery.rowAccessPolicies.getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST",
          "path": "{+resource}:getIamPolicy"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "type": "integer",
              "location": "query"
            },
            "tableId": {
              "description": "Required. Table ID of the table to list row access policies.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "projectId": {
              "description": "Required. Project ID of the row access policies to list.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of row access policies to list."
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results.",
              "type": "string"
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "id": "bigquery.rowAccessPolicies.list",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "description": "Lists all row access policies on the specified table.",
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          }
        },
        "testIamPermissions": {
          "path": "{+resource}:testIamPermissions",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:testIamPermissions",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.rowAccessPolicies.testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$"
            }
          },
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
        },
        "setIamPolicy": {
          "id": "bigquery.rowAccessPolicies.setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:setIamPolicy",
          "path": "{+resource}:setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "jobs": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "jobId": {
              "location": "path",
              "required": true,
              "description": "[Required] Job ID of the requested job",
              "type": "string"
            },
            "location": {
              "type": "string",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query"
            },
            "projectId": {
              "description": "[Required] Project ID of the requested job",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "bigquery.jobs.get",
          "path": "projects/{projectId}/jobs/{jobId}",
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "response": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "jobId"
          ]
        },
        "getQueryResults": {
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "description": "Retrieves the results of a query job.",
          "parameters": {
            "startIndex": {
              "location": "query",
              "type": "string",
              "description": "Zero-based index of the starting row",
              "format": "uint64"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "description": "Maximum number of results to read"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query"
            },
            "jobId": {
              "type": "string",
              "required": true,
              "description": "[Required] Job ID of the query job",
              "location": "path"
            },
            "timeoutMs": {
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "projectId": {
              "description": "[Required] Project ID of the query job",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "bigquery.jobs.getQueryResults",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "path": "projects/{projectId}/queries/{jobId}"
        },
        "query": {
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "request": {
            "$ref": "QueryRequest"
          },
          "id": "bigquery.jobs.query",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "QueryResponse"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project billed for the query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "path": "projects/{projectId}/queries"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/delete",
          "httpMethod": "DELETE",
          "description": "Requests that a job is deleted. This call will return when the job is deleted. This method is available in limited preview.",
          "parameters": {
            "location": {
              "location": "query",
              "type": "string",
              "description": "The geographic location of the job. Required. See details at: https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the job to be deleted.",
              "pattern": "^[^/]+$"
            },
            "jobId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Job ID of the job to be deleted. If this is a parent job which has child jobs, all child jobs will be deleted as well. Deletion of child jobs directly is not allowed.",
              "location": "path"
            }
          },
          "path": "projects/{+projectId}/jobs/{+jobId}/delete",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "id": "bigquery.jobs.delete"
        },
        "insert": {
          "parameters": {
            "projectId": {
              "description": "Project ID of the project that will be billed for the job",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs"
              }
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "id": "bigquery.jobs.insert",
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "path": "projects/{projectId}/jobs",
          "request": {
            "$ref": "Job"
          },
          "response": {
            "$ref": "Job"
          },
          "httpMethod": "POST"
        },
        "cancel": {
          "id": "bigquery.jobs.cancel",
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "jobId": {
              "required": true,
              "location": "path",
              "description": "[Required] Job ID of the job to cancel",
              "type": "string"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "[Required] Project ID of the job to cancel"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "JobCancelResponse"
          }
        },
        "list": {
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "id": "bigquery.jobs.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "allUsers": {
              "location": "query",
              "description": "Whether to display jobs owned by all users in the project. Default false",
              "type": "boolean"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the jobs to list"
            },
            "minCreationTime": {
              "type": "string",
              "format": "uint64",
              "location": "query",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned"
            },
            "projection": {
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ],
              "enum": [
                "full",
                "minimal"
              ],
              "type": "string",
              "location": "query",
              "description": "Restrict information returned to a set of selected fields"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "Maximum number of results to return"
            },
            "parentJobId": {
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent",
              "type": "string",
              "location": "query"
            },
            "maxCreationTime": {
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "location": "query",
              "type": "string",
              "format": "uint64"
            },
            "stateFilter": {
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "repeated": true,
              "description": "Filter for job state",
              "location": "query",
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            }
          },
          "response": {
            "$ref": "JobList"
          },
          "path": "projects/{projectId}/jobs"
        }
      }
    },
    "models": {
      "methods": {
        "patch": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "request": {
            "$ref": "Model"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the model to patch.",
              "location": "path"
            },
            "modelId": {
              "description": "Required. Model ID of the model to patch.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the model to patch.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Patch specific fields in the specified model.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "id": "bigquery.models.patch",
          "response": {
            "$ref": "Model"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ]
        },
        "delete": {
          "description": "Deletes the model specified by modelId from the dataset.",
          "httpMethod": "DELETE",
          "parameters": {
            "modelId": {
              "description": "Required. Model ID of the model to delete.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Dataset ID of the model to delete."
            },
            "projectId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. Project ID of the model to delete."
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "id": "bigquery.models.delete",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}"
        },
        "get": {
          "parameters": {
            "projectId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the requested model.",
              "type": "string",
              "location": "path"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the requested model.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "modelId": {
              "location": "path",
              "required": true,
              "description": "Required. Model ID of the requested model.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Model"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "httpMethod": "GET",
          "description": "Gets the specified model resource by model ID.",
          "id": "bigquery.models.get",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "description": "Page token, returned by a previous call to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the models to list."
            },
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the models to list.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListModelsResponse"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "description": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you can get information about a particular model by calling the models.get method.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "id": "bigquery.models.list"
        }
      }
    },
    "tables": {
      "methods": {
        "list": {
          "id": "bigquery.tables.list",
          "response": {
            "$ref": "TableList"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "httpMethod": "GET",
          "parameters": {
            "datasetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Dataset ID of the tables to list"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return",
              "format": "uint32"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the tables to list",
              "required": true
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "setIamPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.tables.setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "path": "{+resource}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "location": "path"
            }
          }
        },
        "patch": {
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "response": {
            "$ref": "Table"
          },
          "request": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "tableId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Table ID of the table to update"
            },
            "datasetId": {
              "description": "Dataset ID of the table to update",
              "location": "path",
              "type": "string",
              "required": true
            },
            "projectId": {
              "type": "string",
              "description": "Project ID of the table to update",
              "required": true,
              "location": "path"
            }
          },
          "id": "bigquery.tables.patch",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}"
        },
        "testIamPermissions": {
          "id": "bigquery.tables.testIamPermissions",
          "httpMethod": "POST",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "path": "{+resource}:testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "location": "path"
            }
          },
          "request": {
            "$ref": "TestIamPermissionsRequest"
          }
        },
        "delete": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "id": "bigquery.tables.delete",
          "parameters": {
            "tableId": {
              "location": "path",
              "type": "string",
              "description": "Table ID of the table to delete",
              "required": true
            },
            "projectId": {
              "type": "string",
              "description": "Project ID of the table to delete",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "description": "Dataset ID of the table to delete",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "getIamPolicy": {
          "httpMethod": "POST",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.tables.getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$"
            }
          },
          "path": "{+resource}:getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ]
        },
        "get": {
          "response": {
            "$ref": "Table"
          },
          "id": "bigquery.tables.get",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "parameters": {
            "datasetId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Dataset ID of the requested table"
            },
            "tableId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Table ID of the requested table"
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the requested table",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "update": {
          "httpMethod": "PUT",
          "response": {
            "$ref": "Table"
          },
          "parameters": {
            "tableId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Table ID of the table to update"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the table to update",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "description": "Dataset ID of the table to update",
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "id": "bigquery.tables.update",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "request": {
            "$ref": "Table"
          }
        },
        "insert": {
          "description": "Creates a new, empty table in the dataset.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Table"
          },
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Project ID of the new table",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Dataset ID of the new table"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "id": "bigquery.tables.insert"
        }
      }
    },
    "datasets": {
      "methods": {
        "patch": {
          "request": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "id": "bigquery.datasets.patch",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the dataset being updated"
            },
            "datasetId": {
              "type": "string",
              "description": "Dataset ID of the dataset being updated",
              "location": "path",
              "required": true
            }
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "datasetId": {
              "required": true,
              "location": "path",
              "description": "Dataset ID of the dataset being updated",
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "id": "bigquery.datasets.update",
          "response": {
            "$ref": "Dataset"
          }
        },
        "delete": {
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.datasets.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "deleteContents": {
              "type": "boolean",
              "location": "query",
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False"
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the dataset being deleted",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of dataset being deleted",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "DatasetList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/datasets",
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "id": "bigquery.datasets.list",
          "httpMethod": "GET",
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details."
            },
            "all": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to list all datasets, including hidden ones"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of results to return",
              "location": "query"
            },
            "projectId": {
              "type": "string",
              "description": "Project ID of the datasets to be listed",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query"
            }
          }
        },
        "get": {
          "description": "Returns the dataset specified by datasetID.",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the requested dataset"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Dataset ID of the requested dataset"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.datasets.get",
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET"
        },
        "insert": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Project ID of the new dataset",
              "location": "path"
            }
          },
          "id": "bigquery.datasets.insert",
          "path": "projects/{projectId}/datasets",
          "request": {
            "$ref": "Dataset"
          },
          "description": "Creates a new empty dataset.",
          "parameterOrder": [
            "projectId"
          ]
        }
      }
    },
    "routines": {
      "methods": {
        "delete": {
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the routine to delete",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "routineId": {
              "required": true,
              "location": "path",
              "description": "Required. Routine ID of the routine to delete",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the routine to delete",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "id": "bigquery.routines.delete",
          "description": "Deletes the routine specified by routineId from the dataset.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}"
        },
        "update": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "request": {
            "$ref": "Routine"
          },
          "parameters": {
            "routineId": {
              "description": "Required. Routine ID of the routine to update",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the routine to update",
              "type": "string"
            },
            "datasetId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. Dataset ID of the routine to update"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "id": "bigquery.routines.update",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "response": {
            "$ref": "Routine"
          },
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
          "httpMethod": "PUT"
        },
        "insert": {
          "httpMethod": "POST",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "request": {
            "$ref": "Routine"
          },
          "response": {
            "$ref": "Routine"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the new routine",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the new routine",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "id": "bigquery.routines.insert",
          "description": "Creates a new routine in the dataset."
        },
        "list": {
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "datasetId": {
              "type": "string",
              "description": "Required. Dataset ID of the routines to list",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            },
            "readMask": {
              "format": "google-fieldmask",
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "description": "If set, then only the Routines matching this filter are returned. The current supported form is either \"routine_type:\" or \"routineType:\", where is a RoutineType enum. Example: \"routineType:SCALAR_FUNCTION\".",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            },
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the routines to list",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "id": "bigquery.routines.list",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role."
        },
        "get": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "httpMethod": "GET",
          "id": "bigquery.routines.get",
          "description": "Gets the specified routine resource by routine ID.",
          "response": {
            "$ref": "Routine"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "readMask": {
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dataset ID of the requested routine",
              "type": "string"
            },
            "routineId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Routine ID of the requested routine",
              "required": true
            },
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the requested routine",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}"
        }
      }
    }
  },
  "ownerName": "Google",
  "basePath": "/bigquery/v2/",
  "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
  "revision": "20210725",
  "title": "BigQuery API",
  "id": "bigquery:v2",
  "schemas": {
    "RoutineReference": {
      "type": "object",
      "id": "RoutineReference",
      "properties": {
        "routineId": {
          "type": "string",
          "description": "[Required] The ID of the routine. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters."
        },
        "projectId": {
          "description": "[Required] The ID of the project containing this routine.",
          "type": "string"
        },
        "datasetId": {
          "description": "[Required] The ID of the dataset containing this routine.",
          "type": "string"
        }
      }
    },
    "JobStatus": {
      "properties": {
        "state": {
          "description": "[Output-only] Running state of the job.",
          "type": "string"
        },
        "errors": {
          "description": "[Output-only] The first errors encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "type": "array",
          "items": {
            "$ref": "ErrorProto"
          }
        },
        "errorResult": {
          "$ref": "ErrorProto",
          "description": "[Output-only] Final error result of the job. If present, indicates that the job has completed and was unsuccessful."
        }
      },
      "type": "object",
      "id": "JobStatus"
    },
    "Table": {
      "properties": {
        "friendlyName": {
          "description": "[Optional] A descriptive name for this table.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "[Output-only] A hash of the table metadata. Used to ensure there were no concurrent modifications to the resource when attempting an update. Not guaranteed to change when the table contents or the fields numRows, numBytes, numLongTermBytes or lastModifiedTime change."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "uint64",
          "description": "[Output-only] The time when this table was last modified, in milliseconds since the epoch."
        },
        "encryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys).",
          "$ref": "EncryptionConfiguration"
        },
        "model": {
          "$ref": "ModelDefinition",
          "description": "[Output-only, Beta] Present iff this table represents a ML model. Describes the training information for the model, and it is required to run 'PREDICT' queries."
        },
        "materializedView": {
          "description": "[Optional] Materialized view definition.",
          "$ref": "MaterializedViewDefinition"
        },
        "creationTime": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] The time when this table was created, in milliseconds since the epoch."
        },
        "streamingBuffer": {
          "description": "[Output-only] Contains information regarding this table's streaming buffer, if one is present. This field will be absent if the table is not being streamed to or if there is no data in the streaming buffer.",
          "$ref": "Streamingbuffer"
        },
        "id": {
          "type": "string",
          "description": "[Output-only] An opaque ID uniquely identifying the table."
        },
        "numRows": {
          "description": "[Output-only] The number of rows of data in this table, excluding any data in the streaming buffer.",
          "type": "string",
          "format": "uint64"
        },
        "externalDataConfiguration": {
          "$ref": "ExternalDataConfiguration",
          "description": "[Optional] Describes the data format, location, and other properties of a table stored outside of BigQuery. By defining these properties, the data source can then be queried as if it were a standard BigQuery table."
        },
        "schema": {
          "description": "[Optional] Describes the schema of this table.",
          "$ref": "TableSchema"
        },
        "description": {
          "description": "[Optional] A user-friendly description of this table.",
          "type": "string"
        },
        "expirationTime": {
          "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed. The defaultTableExpirationMs property of the encapsulating dataset can be used to set a default expirationTime on newly created tables.",
          "type": "string",
          "format": "int64"
        },
        "requirePartitionFilter": {
          "description": "[Optional] If set to true, queries over this table require a partition filter that can be used for partition elimination to be specified.",
          "default": "false",
          "type": "boolean"
        },
        "numPhysicalBytes": {
          "description": "[Output-only] [TrustedTester] The physical size of this table in bytes, excluding any data in the streaming buffer. This includes compression and storage used for time travel.",
          "format": "int64",
          "type": "string"
        },
        "tableReference": {
          "description": "[Required] Reference describing the ID of this table.",
          "$ref": "TableReference"
        },
        "selfLink": {
          "type": "string",
          "description": "[Output-only] A URL that can be used to access this resource again."
        },
        "snapshotDefinition": {
          "$ref": "SnapshotDefinition",
          "description": "[Output-only] Snapshot definition."
        },
        "numBytes": {
          "type": "string",
          "description": "[Output-only] The size of this table in bytes, excluding any data in the streaming buffer.",
          "format": "int64"
        },
        "clustering": {
          "description": "[Beta] Clustering specification for the table. Must be specified with partitioning, data in the table will be first partitioned and subsequently clustered.",
          "$ref": "Clustering"
        },
        "timePartitioning": {
          "$ref": "TimePartitioning",
          "description": "Time-based partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "location": {
          "type": "string",
          "description": "[Output-only] The geographic location where the table resides. This value is inherited from the dataset."
        },
        "kind": {
          "description": "[Output-only] The type of the resource.",
          "default": "bigquery#table",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "[Output-only] Describes the table type. The following values are supported: TABLE: A normal BigQuery table. VIEW: A virtual table defined by a SQL query. SNAPSHOT: An immutable, read-only table that is a copy of another table. [TrustedTester] MATERIALIZED_VIEW: SQL query whose result is persisted. EXTERNAL: A table that references data stored in an external storage system, such as Google Cloud Storage. The default value is TABLE."
        },
        "labels": {
          "type": "object",
          "description": "The labels associated with this table. You can use these to organize and group your tables. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "view": {
          "description": "[Optional] The view definition.",
          "$ref": "ViewDefinition"
        },
        "rangePartitioning": {
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "RangePartitioning"
        },
        "numLongTermBytes": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] The number of bytes in the table that are considered \"long-term storage\"."
        }
      },
      "type": "object",
      "id": "Table"
    },
    "JobList": {
      "properties": {
        "jobs": {
          "type": "array",
          "items": {
            "properties": {
              "configuration": {
                "description": "[Full-projection-only] Specifies the job configuration.",
                "$ref": "JobConfiguration"
              },
              "status": {
                "$ref": "JobStatus",
                "description": "[Full-projection-only] Describes the state of the job."
              },
              "jobReference": {
                "$ref": "JobReference",
                "description": "Job reference uniquely identifying the job."
              },
              "kind": {
                "type": "string",
                "default": "bigquery#job",
                "description": "The resource type."
              },
              "state": {
                "description": "Running state of the job. When the state is DONE, errorResult can be checked to determine whether the job succeeded or failed.",
                "type": "string"
              },
              "user_email": {
                "type": "string",
                "description": "[Full-projection-only] Email address of the user who ran the job."
              },
              "errorResult": {
                "$ref": "ErrorProto",
                "description": "A result object that will be present only if the job has failed."
              },
              "statistics": {
                "description": "[Output-only] Information about the job, including starting time and ending time of the job.",
                "$ref": "JobStatistics"
              },
              "id": {
                "type": "string",
                "description": "Unique opaque ID of the job."
              }
            },
            "type": "object"
          },
          "description": "List of jobs that were requested."
        },
        "etag": {
          "description": "A hash of this page of results.",
          "type": "string"
        },
        "kind": {
          "default": "bigquery#jobList",
          "description": "The resource type of the response.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        }
      },
      "type": "object",
      "id": "JobList"
    },
    "ViewDefinition": {
      "type": "object",
      "id": "ViewDefinition",
      "properties": {
        "query": {
          "type": "string",
          "description": "[Required] A query that BigQuery executes when the view is referenced."
        },
        "useExplicitColumnNames": {
          "description": "True if the column names are explicitly specified. For example by using the 'CREATE VIEW v(c1, c2) AS ...' syntax. Can only be set using BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/",
          "type": "boolean"
        },
        "useLegacySql": {
          "type": "boolean",
          "description": "Specifies whether to use BigQuery's legacy SQL for this view. The default value is true. If set to false, the view will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ Queries and views that reference this view must use the same flag value."
        },
        "userDefinedFunctionResources": {
          "items": {
            "$ref": "UserDefinedFunctionResource"
          },
          "type": "array",
          "description": "Describes user-defined function resources used in the query."
        }
      }
    },
    "QueryRequest": {
      "type": "object",
      "properties": {
        "parameterMode": {
          "type": "string",
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query."
        },
        "query": {
          "description": "[Required] A query string, following the BigQuery query syntax, of the query to execute. Example: \"SELECT count(f1) FROM [myProjectId:myDatasetId.myTableId]\".",
          "annotations": {
            "required": [
              "bigquery.jobs.query"
            ]
          },
          "type": "string"
        },
        "connectionProperties": {
          "items": {
            "$ref": "ConnectionProperty"
          },
          "description": "Connection properties.",
          "type": "array"
        },
        "createSession": {
          "type": "boolean",
          "description": "If true, creates a new session, where session id will be a server generated random id. If false, runs query with an existing session_id passed in ConnectionProperty, otherwise runs query in non-session mode."
        },
        "useQueryCache": {
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. The default value is true.",
          "default": "true",
          "type": "boolean"
        },
        "maximumBytesBilled": {
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "format": "int64",
          "type": "string"
        },
        "labels": {
          "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kind": {
          "description": "The resource type of the request.",
          "type": "string",
          "default": "bigquery#queryRequest"
        },
        "requestId": {
          "description": "A unique user provided identifier to ensure idempotent behavior for queries. Note that this is different from the job_id. It has the following properties: 1. It is case-sensitive, limited to up to 36 ASCII characters. A UUID is recommended. 2. Read only queries can ignore this token since they are nullipotent by definition. 3. For the purposes of idempotency ensured by the request_id, a request is considered duplicate of another only if they have the same request_id and are actually duplicates. When determining whether a request is a duplicate of the previous request, all parameters in the request that may affect the behavior are considered. For example, query, connection_properties, query_parameters, use_legacy_sql are parameters that affect the result and are considered when determining whether a request is a duplicate, but properties like timeout_ms don't affect the result and are thus not considered. Dry run query requests are never considered duplicate of another request. 4. When a duplicate mutating query request is detected, it returns: a. the results of the mutation if it completes successfully within the timeout. b. the running operation if it is still in progress at the end of the timeout. 5. Its lifetime is limited to 15 minutes. In other words, if two requests are sent with the same request_id, but more than 15 minutes apart, idempotency is not guaranteed.",
          "type": "string"
        },
        "useLegacySql": {
          "type": "boolean",
          "default": "true",
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false."
        },
        "timeoutMs": {
          "type": "integer",
          "description": "[Optional] How long to wait for the query to complete, in milliseconds, before the request times out and returns. Note that this is only a timeout for the request, not the query. If the query takes longer to run than the timeout value, the call returns without any results and with the 'jobComplete' flag set to false. You can call GetQueryResults() to wait for the query to complete and read the results. The default value is 10000 milliseconds (10 seconds).",
          "format": "uint32"
        },
        "defaultDataset": {
          "$ref": "DatasetReference",
          "description": "[Optional] Specifies the default datasetId and projectId to assume for any unqualified table names in the query. If not set, all table names in the query string must be qualified in the format 'datasetId.tableId'."
        },
        "dryRun": {
          "description": "[Optional] If set to true, BigQuery doesn't run the job. Instead, if the query is valid, BigQuery returns statistics about the job such as how many bytes would be processed. If the query is invalid, an error returns. The default value is false.",
          "type": "boolean"
        },
        "location": {
          "type": "string",
          "description": "The geographic location where the job should run. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
        },
        "preserveNulls": {
          "type": "boolean",
          "description": "[Deprecated] This property is deprecated."
        },
        "maxResults": {
          "type": "integer",
          "format": "uint32",
          "description": "[Optional] The maximum number of rows of data to return per page of results. Setting this flag to a small value such as 1000 and then paging through results might improve reliability when the query result set is large. In addition to this limit, responses are also limited to 10 MB. By default, there is no maximum row count, and only the byte limit applies."
        },
        "queryParameters": {
          "type": "array",
          "description": "Query parameters for Standard SQL queries.",
          "items": {
            "$ref": "QueryParameter"
          }
        }
      },
      "id": "QueryRequest"
    },
    "ScriptStackFrame": {
      "type": "object",
      "id": "ScriptStackFrame",
      "properties": {
        "text": {
          "type": "string",
          "description": "[Output-only] Text of the current statement/expression."
        },
        "startColumn": {
          "format": "int32",
          "type": "integer",
          "description": "[Output-only] One-based start column."
        },
        "endLine": {
          "format": "int32",
          "description": "[Output-only] One-based end line.",
          "type": "integer"
        },
        "startLine": {
          "format": "int32",
          "type": "integer",
          "description": "[Output-only] One-based start line."
        },
        "endColumn": {
          "format": "int32",
          "description": "[Output-only] One-based end column.",
          "type": "integer"
        },
        "procedureId": {
          "description": "[Output-only] Name of the active procedure, empty if in a top-level script.",
          "type": "string"
        }
      }
    },
    "JobConfigurationLoad": {
      "properties": {
        "ignoreUnknownValues": {
          "type": "boolean",
          "description": "[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don't match any column names"
        },
        "jsonExtension": {
          "description": "[Optional] If sourceFormat is set to newline-delimited JSON, indicates whether it should be processed as a JSON variant such as GeoJSON. For a sourceFormat other than JSON, omit this field. If the sourceFormat is newline-delimited JSON: - for newline-delimited GeoJSON: set to GEOJSON.",
          "type": "string"
        },
        "autodetect": {
          "description": "[Optional] Indicates if we should automatically infer the options and schema for CSV and JSON sources.",
          "type": "boolean"
        },
        "sourceFormat": {
          "type": "string",
          "description": "[Optional] The format of the data files. For CSV files, specify \"CSV\". For datastore backups, specify \"DATASTORE_BACKUP\". For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\". For Avro, specify \"AVRO\". For parquet, specify \"PARQUET\". For orc, specify \"ORC\". The default value is CSV."
        },
        "sourceUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Required] The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud Storage URIs: Each URI can contain one '*' wildcard character and it must come after the 'bucket' name. Size limits related to load jobs apply to external data sources. For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google Cloud Datastore backups: Exactly one URI can be specified. Also, the '*' wildcard character is not allowed."
        },
        "schemaInline": {
          "description": "[Deprecated] The inline schema. For CSV schemas, specify as \"Field1:Type1[,Field2:Type2]*\". For example, \"foo:STRING, bar:INTEGER, baz:FLOAT\".",
          "type": "string"
        },
        "rangePartitioning": {
          "$ref": "RangePartitioning",
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "allowJaggedRows": {
          "description": "[Optional] Accept rows that are missing trailing optional columns. The missing values are treated as nulls. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. Only applicable to CSV, ignored for other formats.",
          "type": "boolean"
        },
        "skipLeadingRows": {
          "type": "integer",
          "description": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when loading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped.",
          "format": "int32"
        },
        "decimalTargetTypes": {
          "items": {
            "type": "string"
          },
          "description": "[Optional] Defines the list of possible SQL data types to which the source decimal values are converted. This list and the precision and the scale parameters of the decimal field determine the target type. In the order of NUMERIC, BIGNUMERIC, and STRING, a type is picked if it is in the specified list and if it supports the precision and the scale. STRING supports all precision and scale values. If none of the listed types supports the precision and the scale, the type supporting the widest range in the specified list is picked, and if a value exceeds the supported range when reading the data, an error will be thrown. Example: Suppose the value of this field is [\"NUMERIC\", \"BIGNUMERIC\"]. If (precision,scale) is: (38,9) -\u003e NUMERIC; (39,9) -\u003e BIGNUMERIC (NUMERIC cannot hold 30 integer digits); (38,10) -\u003e BIGNUMERIC (NUMERIC cannot hold 10 fractional digits); (76,38) -\u003e BIGNUMERIC; (77,38) -\u003e BIGNUMERIC (error if value exeeds supported range). This field cannot contain duplicate types. The order of the types in this field is ignored. For example, [\"BIGNUMERIC\", \"NUMERIC\"] is the same as [\"NUMERIC\", \"BIGNUMERIC\"] and NUMERIC always takes precedence over BIGNUMERIC. Defaults to [\"NUMERIC\", \"STRING\"] for ORC and [\"NUMERIC\"] for the other file formats.",
          "type": "array"
        },
        "writeDisposition": {
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_APPEND. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "destinationTable": {
          "description": "[Required] The destination table to load the data into.",
          "$ref": "TableReference"
        },
        "maxBadRecords": {
          "type": "integer",
          "format": "int32",
          "description": "[Optional] The maximum number of bad records that BigQuery can ignore when running the job. If the number of bad records exceeds this value, an invalid error is returned in the job result. This is only valid for CSV and JSON. The default value is 0, which requires that all records are valid."
        },
        "clustering": {
          "description": "[Beta] Clustering specification for the destination table. Must be specified with time-based partitioning, data in the table will be first partitioned and subsequently clustered.",
          "$ref": "Clustering"
        },
        "encoding": {
          "type": "string",
          "description": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties."
        },
        "useAvroLogicalTypes": {
          "type": "boolean",
          "description": "[Optional] If sourceFormat is set to \"AVRO\", indicates whether to enable interpreting logical types into their corresponding types (ie. TIMESTAMP), instead of only using their raw types (ie. INTEGER)."
        },
        "schemaInlineFormat": {
          "type": "string",
          "description": "[Deprecated] The format of the schemaInline property."
        },
        "parquetOptions": {
          "description": "[Optional] Options to configure parquet support.",
          "$ref": "ParquetOptions"
        },
        "quote": {
          "type": "string",
          "default": "\"",
          "description": "[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote ('\"'). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true.",
          "pattern": ".?"
        },
        "timePartitioning": {
          "description": "Time-based partitioning specification for the destination table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "TimePartitioning"
        },
        "fieldDelimiter": {
          "description": "[Optional] The separator for fields in a CSV file. The separator can be any ISO-8859-1 single-byte character. To use a character in the range 128-255, you must encode the character as UTF8. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify a tab separator. The default value is a comma (',').",
          "type": "string"
        },
        "destinationEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "createDisposition": {
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "projectionFields": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If sourceFormat is set to \"DATASTORE_BACKUP\", indicates which entity properties to load into BigQuery from a Cloud Datastore backup. Property names are case sensitive and must be top-level properties. If no properties are specified, BigQuery loads all properties. If any named property isn't found in the Cloud Datastore backup, an invalid error is returned in the job result."
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Optional] The schema for the destination table. The schema can be omitted if the destination table already exists, or if you're loading data from Google Cloud Datastore."
        },
        "nullMarker": {
          "type": "string",
          "description": "[Optional] Specifies a string that represents a null value in a CSV file. For example, if you specify \"\\N\", BigQuery interprets \"\\N\" as a null value when loading a CSV file. The default value is the empty string. If you set this property to a custom value, BigQuery throws an error if an empty string is present for all data types except for STRING and BYTE. For STRING and BYTE columns, BigQuery interprets the empty string as an empty value."
        },
        "schemaUpdateOptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Allows the schema of the destination table to be updated as a side effect of the load job if a schema is autodetected or supplied in the job configuration. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable."
        },
        "hivePartitioningOptions": {
          "description": "[Optional] Options to configure hive partitioning support.",
          "$ref": "HivePartitioningOptions"
        },
        "destinationTableProperties": {
          "description": "[Beta] [Optional] Properties with which to create the destination table if it is new.",
          "$ref": "DestinationTableProperties"
        },
        "allowQuotedNewlines": {
          "type": "boolean",
          "description": "Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false."
        }
      },
      "id": "JobConfigurationLoad",
      "type": "object"
    },
    "BiEngineStatistics": {
      "id": "BiEngineStatistics",
      "type": "object",
      "properties": {
        "biEngineMode": {
          "default": "$(stats.bi_engine_mode)",
          "description": "[Output-only] Specifies which mode of BI Engine acceleration was performed (if any).",
          "type": "string"
        },
        "biEngineReasons": {
          "type": "array",
          "description": "In case of DISABLED or PARTIAL bi_engine_mode, these contain the explanatory reasons as to why BI Engine could not accelerate. In case the full query was accelerated, this field is not populated.",
          "items": {
            "$ref": "BiEngineReason"
          }
        }
      }
    },
    "ArimaFittingMetrics": {
      "description": "ARIMA model fitting metrics.",
      "id": "ArimaFittingMetrics",
      "type": "object",
      "properties": {
        "variance": {
          "description": "Variance.",
          "type": "number",
          "format": "double"
        },
        "aic": {
          "format": "double",
          "description": "AIC.",
          "type": "number"
        },
        "logLikelihood": {
          "type": "number",
          "description": "Log-likelihood.",
          "format": "double"
        }
      }
    },
    "TableList": {
      "id": "TableList",
      "properties": {
        "tables": {
          "items": {
            "type": "object",
            "properties": {
              "kind": {
                "default": "bigquery#table",
                "type": "string",
                "description": "The resource type."
              },
              "tableReference": {
                "description": "A reference uniquely identifying the table.",
                "$ref": "TableReference"
              },
              "expirationTime": {
                "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed.",
                "type": "string",
                "format": "int64"
              },
              "creationTime": {
                "description": "The time when this table was created, in milliseconds since the epoch.",
                "type": "string",
                "format": "int64"
              },
              "rangePartitioning": {
                "$ref": "RangePartitioning",
                "description": "The range partitioning specification for this table, if configured."
              },
              "friendlyName": {
                "description": "The user-friendly name for this table.",
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "The type of table. Possible values are: TABLE, VIEW."
              },
              "labels": {
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object",
                "description": "The labels associated with this table. You can use these to organize and group your tables."
              },
              "clustering": {
[...]
