{
  "kind": "discovery#restDescription",
  "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/resource-manager",
  "revision": "20210917",
  "discoveryVersion": "v1",
  "resources": {
    "tagBindings": {
      "methods": {
        "list": {
          "description": "Lists the TagBindings for the given cloud resource, as specified with `parent`. NOTE: The `parent` field is expected to be a full resource name: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "id": "cloudresourcemanager.tagBindings.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "parent": {
              "location": "query",
              "description": "Required. The full resource name of a resource for which you want to list existing TagBindings. E.g. \"//cloudresourcemanager.googleapis.com/projects/123\"",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A pagination token returned from a previous call to `ListTagBindings` that indicates where this listing should continue from.",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The maximum number of TagBindings to return in the response. The server allows a maximum of 300 TagBindings to return. If unspecified, the server will use 100 as the default.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "v3/tagBindings",
          "response": {
            "$ref": "ListTagBindingsResponse"
          },
          "httpMethod": "GET",
          "flatPath": "v3/tagBindings"
        },
        "create": {
          "id": "cloudresourcemanager.tagBindings.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v3/tagBindings",
          "httpMethod": "POST",
          "parameters": {
            "validateOnly": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Set to true to perform the validations necessary for creating the resource, but not actually perform the action."
            }
          },
          "parameterOrder": [],
          "path": "v3/tagBindings",
          "description": "Creates a TagBinding between a TagValue and a cloud resource (currently project, folder, or organization).",
          "request": {
            "$ref": "TagBinding"
          }
        },
        "delete": {
          "path": "v3/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the TagBinding. This is a String of the form: `tagBindings/{id}` (e.g. `tagBindings/%2F%2Fcloudresourcemanager.googleapis.com%2Fprojects%2F123/tagValues/456`).",
              "type": "string",
              "pattern": "^tagBindings/.*$",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v3/tagBindings/{tagBindingsId}",
          "description": "Deletes a TagBinding.",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudresourcemanager.tagBindings.delete"
        }
      }
    },
    "tagKeys": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListTagKeysResponse"
          },
          "httpMethod": "GET",
          "path": "v3/tagKeys",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "description": "Optional. A pagination token returned from a previous call to `ListTagKey` that indicates where this listing should continue from.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "description": "Required. The resource name of the new TagKey's parent. Must be of the form `folders/{folder_id}` or `organizations/{org_id}`.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. The maximum number of TagKeys to return in the response. The server allows a maximum of 300 TagKeys to return. If unspecified, the server will use 100 as the default."
            }
          },
          "id": "cloudresourcemanager.tagKeys.list",
          "parameterOrder": [],
          "flatPath": "v3/tagKeys",
          "description": "Lists all TagKeys for a parent resource."
        },
        "testIamPermissions": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "description": "Returns permissions that a caller has on the specified TagKey. The `resource` field should be the TagKey's resource name. For example, \"tagKeys/1234\". There are no permissions required for making this API call.",
          "parameters": {
            "resource": {
              "required": true,
              "pattern": "^tagKeys/[^/]+$",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "type": "string"
            }
          },
          "flatPath": "v3/tagKeys/{tagKeysId}:testIamPermissions",
          "path": "v3/{+resource}:testIamPermissions",
          "id": "cloudresourcemanager.tagKeys.testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          }
        },
        "setIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.tagKeys.setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "description": "Sets the access control policy on a TagKey, replacing any existing policy. The `resource` field should be the TagKey's resource name. For example, \"tagKeys/1234\". The caller must have `resourcemanager.tagKeys.setIamPolicy` permission on the identified tagValue.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "type": "string",
              "location": "path",
              "pattern": "^tagKeys/[^/]+$",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field."
            }
          },
          "path": "v3/{+resource}:setIamPolicy",
          "flatPath": "v3/tagKeys/{tagKeysId}:setIamPolicy"
        },
        "get": {
          "flatPath": "v3/tagKeys/{tagKeysId}",
          "id": "cloudresourcemanager.tagKeys.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "TagKey"
          },
          "path": "v3/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^tagKeys/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. A resource name in the format `tagKeys/{id}`, such as `tagKeys/123`.",
              "type": "string"
            }
          },
          "description": "Retrieves a TagKey. This method will return `PERMISSION_DENIED` if the key does not exist or the user does not have permission to view it.",
          "httpMethod": "GET"
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "TagKey"
          },
          "parameters": {
            "validateOnly": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Set to true to perform validations necessary for creating the resource, but not actually perform the action."
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Creates a new TagKey. If another request with the same parameters is sent while the original request is in process, the second request will receive an error. A maximum of 300 TagKeys can exist under a parent at any given time.",
          "flatPath": "v3/tagKeys",
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "cloudresourcemanager.tagKeys.create",
          "path": "v3/tagKeys"
        },
        "patch": {
          "parameters": {
            "validateOnly": {
              "description": "Set as true to perform validations necessary for updating the resource, but not actually perform the action.",
              "location": "query",
              "type": "boolean"
            },
            "updateMask": {
              "description": "Fields to be updated. The mask may only contain `description` or `etag`. If omitted entirely, both `description` and `etag` are assumed to be significant.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "description": "Immutable. The resource name for a TagKey. Must be in the format `tagKeys/{tag_key_id}`, where `tag_key_id` is the generated numeric id for the TagKey.",
              "type": "string",
              "pattern": "^tagKeys/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates the attributes of the TagKey resource.",
          "id": "cloudresourcemanager.tagKeys.patch",
          "path": "v3/{+name}",
          "flatPath": "v3/tagKeys/{tagKeysId}",
          "request": {
            "$ref": "TagKey"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH"
        },
        "getIamPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Gets the access control policy for a TagKey. The returned policy may be empty if no such policy or resource exists. The `resource` field should be the TagKey's resource name. For example, \"tagKeys/1234\". The caller must have `cloudresourcemanager.googleapis.com/tagKeys.getIamPolicy` permission on the specified TagKey.",
          "path": "v3/{+resource}:getIamPolicy",
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^tagKeys/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v3/tagKeys/{tagKeysId}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          },
          "id": "cloudresourcemanager.tagKeys.getIamPolicy"
        },
        "delete": {
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The resource name of a TagKey to be deleted in the format `tagKeys/123`. The TagKey cannot be a parent of any existing TagValues or it will not be deleted successfully.",
              "type": "string",
              "pattern": "^tagKeys/[^/]+$"
            },
            "validateOnly": {
              "description": "Optional. Set as true to perform validations necessary for deletion, but not actually perform the action.",
              "location": "query",
              "type": "boolean"
            },
            "etag": {
              "location": "query",
              "type": "string",
              "description": "Optional. The etag known to the client for the expected state of the TagKey. This is to be used for optimistic concurrency."
            }
          },
          "path": "v3/{+name}",
          "flatPath": "v3/tagKeys/{tagKeysId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "cloudresourcemanager.tagKeys.delete",
          "description": "Deletes a TagKey. The TagKey cannot be deleted if it has any child TagValues."
        }
      }
    },
    "organizations": {
      "methods": {
        "testIamPermissions": {
          "httpMethod": "POST",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "description": "Returns the permissions that a caller has on the specified organization. The `resource` field should be the organization's resource name, for example: \"organizations/123\". There are no permissions required for making this API call.",
          "flatPath": "v3/organizations/{organizationsId}:testIamPermissions",
          "parameters": {
            "resource": {
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "location": "path",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "type": "string"
            }
          },
          "path": "v3/{+resource}:testIamPermissions",
          "id": "cloudresourcemanager.organizations.testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "getIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.organizations.getIamPolicy",
          "path": "v3/{+resource}:getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST",
          "flatPath": "v3/organizations/{organizationsId}:getIamPolicy",
          "description": "Gets the access control policy for an organization resource. The policy may be empty if no such policy or resource exists. The `resource` field should be the organization's resource name, for example: \"organizations/123\". Authorization requires the IAM permission `resourcemanager.organizations.getIamPolicy` on the specified organization.",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "type": "string"
            }
          }
        },
        "setIamPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field."
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST",
          "flatPath": "v3/organizations/{organizationsId}:setIamPolicy",
          "path": "v3/{+resource}:setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "description": "Sets the access control policy on an organization resource. Replaces any existing policy. The `resource` field should be the organization's resource name, for example: \"organizations/123\". Authorization requires the IAM permission `resourcemanager.organizations.setIamPolicy` on the specified organization.",
          "id": "cloudresourcemanager.organizations.setIamPolicy"
        },
        "search": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchOrganizationsResponse"
          },
          "id": "cloudresourcemanager.organizations.search",
          "path": "v3/organizations:search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v3/organizations:search",
          "parameters": {
            "query": {
              "type": "string",
              "location": "query",
              "description": "Optional. An optional query string used to filter the Organizations to return in the response. Query rules are case-insensitive. | Field | Description | |------------------|--------------------------------------------| | directoryCustomerId, owner.directoryCustomerId | Filters by directory customer id. | | domain | Filters by domain. | Organizations may be queried by `directoryCustomerId` or by `domain`, where the domain is a G Suite domain, for example: * Query `directorycustomerid:123456789` returns Organization resources with `owner.directory_customer_id` equal to `123456789`. * Query `domain:google.com` returns Organization resources corresponding to the domain `google.com`."
            },
            "pageToken": {
              "description": "Optional. A pagination token returned from a previous call to `SearchOrganizations` that indicates from where listing should continue.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The maximum number of organizations to return in the response. The server can return fewer organizations than requested. If unspecified, server picks an appropriate default.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "description": "Searches organization resources that are visible to the user and satisfy the specified filter. This method returns organizations in an unspecified order. New organizations do not necessarily appear at the end of the results, and may take a small amount of time to appear. Search will only return organizations on which the user has the permission `resourcemanager.organizations.get`"
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "v3/organizations/{organizationsId}",
          "parameterOrder": [
            "name"
          ],
          "description": "Fetches an organization resource identified by the specified resource name.",
          "response": {
            "$ref": "Organization"
          },
          "path": "v3/{+name}",
          "id": "cloudresourcemanager.organizations.get",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. The resource name of the Organization to fetch. This is the organization's relative path in the API, formatted as \"organizations/[organizationId]\". For example, \"organizations/1234\".",
              "pattern": "^organizations/[^/]+$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "liens": {
      "methods": {
        "create": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v3/liens",
          "id": "cloudresourcemanager.liens.create",
          "request": {
            "$ref": "Lien"
          },
          "path": "v3/liens",
          "response": {
            "$ref": "Lien"
          },
          "parameterOrder": [],
          "parameters": {},
          "description": "Create a Lien which applies to the resource denoted by the `parent` field. Callers of this method will require permission on the `parent` resource. For example, applying to `projects/1234` requires permission `resourcemanager.projects.updateLiens`. NOTE: Some resources may limit the number of Liens which may be applied."
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name/identifier of the Lien to delete.",
              "location": "path",
              "type": "string",
              "pattern": "^liens/.*$"
            }
          },
          "path": "v3/{+name}",
          "description": "Delete a Lien by `name`. Callers of this method will require permission on the `parent` resource. For example, a Lien with a `parent` of `projects/1234` requires permission `resourcemanager.projects.updateLiens`.",
          "id": "cloudresourcemanager.liens.delete",
          "flatPath": "v3/liens/{liensId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "list": {
          "response": {
            "$ref": "ListLiensResponse"
          },
          "flatPath": "v3/liens",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "cloudresourcemanager.liens.list",
          "httpMethod": "GET",
          "description": "List all Liens applied to the `parent` resource. Callers of this method will require permission on the `parent` resource. For example, a Lien with a `parent` of `projects/1234` requires permission `resourcemanager.projects.get`.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The `next_page_token` value returned from a previous List request, if any.",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "description": "Required. The name of the resource to list all attached Liens. For example, `projects/1234`. (google.api.field_policy).resource_type annotation is not set since the parent depends on the meta api implementation. This field could be a project or other sub project resources.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of items to return. This is a suggestion for the server. The server can return fewer liens than requested. If unspecified, server picks an appropriate default."
            }
          },
          "path": "v3/liens"
        },
        "get": {
          "flatPath": "v3/liens/{liensId}",
          "path": "v3/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudresourcemanager.liens.get",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name/identifier of the Lien.",
              "pattern": "^liens/.*$",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Lien"
          },
          "httpMethod": "GET",
          "description": "Retrieve a Lien by `name`. Callers of this method will require permission on the `parent` resource. For example, a Lien with a `parent` of `projects/1234` requires permission `resourcemanager.projects.get`",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "projects": {
      "methods": {
        "list": {
          "parameters": {
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. The maximum number of projects to return in the response. The server can return fewer projects than requested. If unspecified, server picks an appropriate default."
            },
            "parent": {
              "type": "string",
              "location": "query",
              "description": "Required. The name of the parent resource to list projects under. For example, setting this field to 'folders/1234' would list all projects directly under that folder."
            },
            "showDeleted": {
              "description": "Optional. Indicate that projects in the `DELETE_REQUESTED` state should also be returned. Normally only `ACTIVE` projects are returned.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A pagination token returned from a previous call to ListProjects that indicates from where listing should continue.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "description": "Lists projects that are direct children of the specified folder or organization resource. `list()` provides a strongly consistent view of the projects underneath the specified parent resource. `list()` returns projects sorted based upon the (ascending) lexical ordering of their `display_name`. The caller must have `resourcemanager.projects.list` permission on the identified parent.",
          "path": "v3/projects",
          "response": {
            "$ref": "ListProjectsResponse"
          },
          "parameterOrder": [],
          "id": "cloudresourcemanager.projects.list",
          "flatPath": "v3/projects",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "search": {
          "parameterOrder": [],
          "response": {
            "$ref": "SearchProjectsResponse"
          },
          "id": "cloudresourcemanager.projects.search",
          "description": "Search for projects that the caller has both `resourcemanager.projects.get` permission on, and also satisfy the specified query. This method returns projects in an unspecified order. This method is eventually consistent with project mutations; this means that a newly created project may not appear in the results or recent updates to an existing project may not be reflected in the results. To retrieve the latest state of a project, use the GetProject method.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v3/projects:search",
          "httpMethod": "GET",
          "path": "v3/projects:search",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A pagination token returned from a previous call to ListProjects that indicates from where listing should continue."
            },
            "query": {
              "location": "query",
              "description": "Optional. A query string for searching for projects that the caller has `resourcemanager.projects.get` permission to. If multiple fields are included in the query, the it will return results that match any of the fields. Some eligible fields are: | Field | Description | |-------------------------|----------------------------------------------| | displayName, name | Filters by displayName. | | parent | Project's parent (for example: folders/123, organizations/*). Prefer parent field over parent.type and parent.id.| | parent.type | Parent's type: `folder` or `organization`. | | parent.id | Parent's id number (for example: 123) | | id, projectId | Filters by projectId. | | state, lifecycleState | Filters by state. | | labels | Filters by label name or value. | | labels.\\ (where *key* is the name of a label) | Filters by label name.| Search expressions are case insensitive. Some examples queries: | Query | Description | |------------------|-----------------------------------------------------| | name:how* | The project's name starts with \"how\". | | name:Howl | The project's name is `Howl` or `howl`. | | name:HOWL | Equivalent to above. | | NAME:howl | Equivalent to above. | | labels.color:* | The project has the label `color`. | | labels.color:red | The project's label `color` has the value `red`. | | labels.color:red labels.size:big | The project's label `color` has the value `red` and its label `size` has the value `big`.| If no query is specified, the call will return projects for which the user has the `resourcemanager.projects.get` permission.",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of projects to return in the response. The server can return fewer projects than requested. If unspecified, server picks an appropriate default.",
              "format": "int32",
              "location": "query"
            }
          }
        },
        "patch": {
          "path": "v3/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v3/projects/{projectsId}",
          "request": {
            "$ref": "Project"
          },
          "id": "cloudresourcemanager.projects.patch",
          "parameters": {
            "updateMask": {
              "description": "Optional. An update mask to selectively update fields.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "description": "Output only. The unique resource name of the project. It is an int64 generated number prefixed by \"projects/\". Example: `projects/415104041262`"
            }
          },
          "description": "Updates the `display_name` and labels of the project identified by the specified `name` (for example, `projects/415104041262`). Deleting all labels requires an update mask for labels field. The caller must have `resourcemanager.projects.update` permission for this project.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH"
        },
        "getIamPolicy": {
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "id": "cloudresourcemanager.projects.getIamPolicy",
          "httpMethod": "POST",
          "flatPath": "v3/projects/{projectsId}:getIamPolicy",
          "description": "Returns the IAM access control policy for the specified project, in the format `projects/{ProjectIdOrNumber}` e.g. projects/123. Permission is denied if the policy or the resource do not exist.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "v3/{+resource}:getIamPolicy",
          "parameterOrder": [
            "resource"
          ]
        },
        "create": {
          "request": {
            "$ref": "Project"
          },
          "parameters": {},
          "parameterOrder": [],
          "id": "cloudresourcemanager.projects.create",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v3/projects",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Request that a new project be created. The result is an `Operation` which can be used to track the creation process. This process usually takes a few seconds, but can sometimes take much longer. The tracking `Operation` is automatically deleted after a few hours, so there is no need to call `DeleteOperation`.",
          "httpMethod": "POST",
          "path": "v3/projects"
        },
        "undelete": {
          "flatPath": "v3/projects/{projectsId}:undelete",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "path": "v3/{+name}:undelete",
          "description": "Restores the project identified by the specified `name` (for example, `projects/415104041262`). You can only use this method for a project that has a lifecycle state of DELETE_REQUESTED. After deletion starts, the project cannot be restored. The caller must have `resourcemanager.projects.undelete` permission for this project.",
          "response": {
            "$ref": "Operation"
          },
          "id": "cloudresourcemanager.projects.undelete",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "description": "Required. The name of the project (for example, `projects/415104041262`). Required.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "UndeleteProjectRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "delete": {
          "description": "Marks the project identified by the specified `name` (for example, `projects/415104041262`) for deletion. This method will only affect the project if it has a lifecycle state of ACTIVE. This method changes the Project's lifecycle state from ACTIVE to DELETE_REQUESTED. The deletion starts at an unspecified time, at which point the Project is no longer accessible. Until the deletion completes, you can check the lifecycle state checked by retrieving the project with GetProject, and the project remains visible to ListProjects. However, you cannot update the project. After the deletion completes, the project is not retrievable by the GetProject, ListProjects, and SearchProjects methods. This method behaves idempotently, such that deleting a `DELETE_REQUESTED` project will not cause an error, but also won't do anything. The caller must have `resourcemanager.projects.delete` permissions for this project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The name of the Project (for example, `projects/415104041262`)."
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE",
          "path": "v3/{+name}",
          "id": "cloudresourcemanager.projects.delete",
          "flatPath": "v3/projects/{projectsId}"
        },
        "testIamPermissions": {
          "path": "v3/{+resource}:testIamPermissions",
          "id": "cloudresourcemanager.projects.testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified project, in the format `projects/{ProjectIdOrNumber}` e.g. projects/123..",
          "httpMethod": "POST",
          "flatPath": "v3/projects/{projectsId}:testIamPermissions",
          "parameters": {
            "resource": {
              "location": "path",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+$"
            }
          },
          "response": {
            "$ref": "TestIamPermissionsResponse"
          }
        },
        "get": {
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "description": "Required. The name of the project (for example, `projects/415104041262`)."
            }
          },
          "flatPath": "v3/projects/{projectsId}",
          "id": "cloudresourcemanager.projects.get",
          "path": "v3/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Project"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves the project identified by the specified `name` (for example, `projects/415104041262`). The caller must have `resourcemanager.projects.get` permission for this project.",
          "httpMethod": "GET"
        },
        "move": {
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "description": "Required. The name of the project to move.",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "cloudresourcemanager.projects.move",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v3/projects/{projectsId}:move",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v3/{+name}:move",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "MoveProjectRequest"
          },
          "description": "Move a project to another place in your resource hierarchy, under a new resource parent. Returns an operation which can be used to track the process of the project move workflow. Upon success, the `Operation.response` field will be populated with the moved project. The caller must have `resourcemanager.projects.update` permission on the project and have `resourcemanager.projects.move` permission on the project's current and proposed new parent. If project has no current parent, or it currently does not have an associated organization resource, you will also need the `resourcemanager.projects.setIamPolicy` permission in the project. "
        },
        "setIamPolicy": {
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "path": "v3/{+resource}:setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v3/projects/{projectsId}:setIamPolicy",
          "description": "Sets the IAM access control policy for the specified project, in the format `projects/{ProjectIdOrNumber}` e.g. projects/123. CAUTION: This method will replace the existing policy, and cannot be used to append additional IAM settings. Note: Removing service accounts from policies or changing their roles can render services completely inoperable. It is important to understand how the service account is being used before removing or updating its roles. The following constraints apply when using `setIamPolicy()`: + Project does not support `allUsers` and `allAuthenticatedUsers` as `members` in a `Binding` of a `Policy`. + The owner role can be granted to a `user`, `serviceAccount`, or a group that is part of an organization. For example, group@myownpersonaldomain.com could be added as an owner to a project in the myownpersonaldomain.com organization, but not the examplepetstore.com organization. + Service accounts can be made owners of a project directly without any restrictions. However, to be added as an owner, a user must be invited using the Cloud Platform console and must accept the invitation. + A user cannot be granted the owner role using `setIamPolicy()`. The user must be granted the owner role using the Cloud Platform Console and must explicitly accept the invitation. + Invitations to grant the owner role cannot be sent using `setIamPolicy()`; they must be sent only using the Cloud Platform Console. + Membership changes that leave the project without any owners that have accepted the Terms of Service (ToS) will be rejected. + If the project is not part of an organization, there must be at least one owner who has accepted the Terms of Service (ToS) agreement in the policy. Calling `setIamPolicy()` to remove the last ToS-accepted owner from the policy will fail. This restriction also applies to legacy projects that no longer have owners who have accepted the ToS. Edits to IAM policies will be rejected until the lack of a ToS-accepting owner is rectified. + Calling this method requires enabling the App Engine Admin API.",
          "id": "cloudresourcemanager.projects.setIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "type": "string",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "pattern": "^projects/[^/]+$"
            }
          }
        }
      }
    },
    "folders": {
      "methods": {
        "getIamPolicy": {
          "httpMethod": "POST",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "path": "v3/{+resource}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "v3/folders/{foldersId}:getIamPolicy",
          "parameters": {
            "resource": {
              "pattern": "^folders/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field."
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "description": "Gets the access control policy for a folder. The returned policy may be empty if no such policy or resource exists. The `resource` field should be the folder's resource name, for example: \"folders/1234\". The caller must have `resourcemanager.folders.getIamPolicy` permission on the identified folder.",
          "id": "cloudresourcemanager.folders.getIamPolicy"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "cloudresourcemanager.folders.delete",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^folders/[^/]+$",
              "location": "path",
              "description": "Required. The resource name of the folder to be deleted. Must be of the form `folders/{folder_id}`.",
              "type": "string"
            }
          },
          "flatPath": "v3/folders/{foldersId}",
          "path": "v3/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Requests deletion of a folder. The folder is moved into the DELETE_REQUESTED state immediately, and is deleted approximately 30 days later. This method may only be called on an empty folder, where a folder is empty if it doesn't contain any folders or projects in the ACTIVE state. If called on a folder in DELETE_REQUESTED state the operation will result in a no-op success. The caller must have `resourcemanager.folders.delete` permission on the identified folder."
        },
        "patch": {
          "flatPath": "v3/folders/{foldersId}",
          "httpMethod": "PATCH",
          "description": "Updates a folder, changing its `display_name`. Changes to the folder `display_name` will be rejected if they violate either the `display_name` formatting rules or the naming constraints described in the CreateFolder documentation. The folder's `display_name` must start and end with a letter or digit, may contain letters, digits, spaces, hyphens and underscores and can be between 3 and 30 characters. This is captured by the regular expression: `\\p{L}\\p{N}{1,28}[\\p{L}\\p{N}]`. The caller must have `resourcemanager.folders.update` permission on the identified folder. If the update fails due to the unique name constraint then a `PreconditionFailure` explaining this violation will be returned in the Status.details field.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v3/{+name}",
          "request": {
            "$ref": "Folder"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "updateMask": {
              "description": "Required. Fields to be updated. Only the `display_name` can be updated.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "location": "path",
              "pattern": "^folders/[^/]+$",
              "type": "string",
              "description": "Output only. The resource name of the folder. Its format is `folders/{folder_id}`, for example: \"folders/1234\".",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "cloudresourcemanager.folders.patch"
        },
        "search": {
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of folders to return in the response. The server can return fewer folders than requested. If unspecified, server picks an appropriate default.",
              "type": "integer"
            },
            "query": {
              "description": "Optional. Search criteria used to select the folders to return. If no search criteria is specified then all accessible folders will be returned. Query expressions can be used to restrict results based upon displayName, state and parent, where the operators `=` (`:`) `NOT`, `AND` and `OR` can be used along with the suffix wildcard symbol `*`. The `displayName` field in a query expression should use escaped quotes for values that include whitespace to prevent unexpected behavior. | Field | Description | |-------------------------|----------------------------------------| | displayName | Filters by displayName. | | parent | Filters by parent (for example: folders/123). | | state, lifecycleState | Filters by state. | Some example queries are: * Query `displayName=Test*` returns Folder resources whose display name starts with \"Test\". * Query `state=ACTIVE` returns Folder resources with `state` set to `ACTIVE`. * Query `parent=folders/123` returns Folder resources that have `folders/123` as a parent resource. * Query `parent=folders/123 AND state=ACTIVE` returns active Folder resources that have `folders/123` as a parent resource. * Query `displayName=\\\\\"Test String\\\\\"` returns Folder resources with display names that include both \"Test\" and \"String\".",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A pagination token returned from a previous call to `SearchFolders` that indicates from where search should continue.",
              "type": "string"
            }
          },
          "flatPath": "v3/folders:search",
          "response": {
            "$ref": "SearchFoldersResponse"
          },
          "parameterOrder": [],
          "path": "v3/folders:search",
          "description": "Search for folders that match specific filter criteria. `search()` provides an eventually consistent view of the folders a user has access to which meet the specified filter criteria. This will only return folders on which the caller has the permission `resourcemanager.folders.get`.",
          "id": "cloudresourcemanager.folders.search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET"
        },
        "create": {
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "description": "Creates a folder in the resource hierarchy. Returns an `Operation` which can be used to track the progress of the folder creation workflow. Upon success, the `Operation.response` field will be populated with the created Folder. In order to succeed, the addition of this new folder must not violate the folder naming, height, or fanout constraints. + The folder's `display_name` must be distinct from all other folders that share its parent. + The addition of the folder must not cause the active folder hierarchy to exceed a height of 10. Note, the full active + deleted folder hierarchy is allowed to reach a height of 20; this provides additional headroom when moving folders that contain deleted folders. + The addition of the folder must not cause the total number of folders under its parent to exceed 300. If the operation fails due to a folder constraint violation, some errors may be returned by the `CreateFolder` request, with status code `FAILED_PRECONDITION` and an error description. Other folder constraint violations will be communicated in the `Operation`, with the specific `PreconditionFailure` returned in the details list in the `Operation.error` field. The caller must have `resourcemanager.folders.create` permission on the identified parent.",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "Folder"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v3/folders",
          "flatPath": "v3/folders",
          "id": "cloudresourcemanager.folders.create"
        },
        "move": {
          "request": {
            "$ref": "MoveFolderRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "description": "Moves a folder under a new resource parent. Returns an `Operation` which can be used to track the progress of the folder move workflow. Upon success, the `Operation.response` field will be populated with the moved folder. Upon failure, a `FolderOperationError` categorizing the failure cause will be returned - if the failure occurs synchronously then the `FolderOperationError` will be returned in the `Status.details` field. If it occurs asynchronously, then the FolderOperation will be returned in the `Operation.error` field. In addition, the `Operation.metadata` field will be populated with a `FolderOperation` message as an aid to stateless clients. Folder moves will be rejected if they violate either the naming, height, or fanout constraints described in the CreateFolder documentation. The caller must have `resourcemanager.folders.move` permission on the folder's current and proposed new parent.",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The resource name of the Folder to move. Must be of the form folders/{folder_id}",
              "pattern": "^folders/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "cloudresourcemanager.folders.move",
          "path": "v3/{+name}:move",
          "flatPath": "v3/folders/{foldersId}:move",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "undelete": {
          "description": "Cancels the deletion request for a folder. This method may be called on a folder in any state. If the folder is in the ACTIVE state the result will be a no-op success. In order to succeed, the folder's parent must be in the ACTIVE state. In addition, reintroducing the folder into the tree must not violate folder naming, height, and fanout constraints described in the CreateFolder documentation. The caller must have `resourcemanager.folders.undelete` permission on the identified folder.",
          "httpMethod": "POST",
          "request": {
            "$ref": "UndeleteFolderRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v3/{+name}:undelete",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^folders/[^/]+$",
              "description": "Required. The resource name of the folder to undelete. Must be of the form `folders/{folder_id}`.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v3/folders/{foldersId}:undelete",
          "id": "cloudresourcemanager.folders.undelete"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves a folder identified by the supplied resource name. Valid folder resource names have the format `folders/{folder_id}` (for example, `folders/1234`). The caller must have `resourcemanager.folders.get` permission on the identified folder.",
          "flatPath": "v3/folders/{foldersId}",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The resource name of the folder to retrieve. Must be of the form `folders/{folder_id}`.",
              "pattern": "^folders/[^/]+$"
            }
          },
          "response": {
            "$ref": "Folder"
          },
          "id": "cloudresourcemanager.folders.get",
          "path": "v3/{+name}"
        },
        "list": {
          "path": "v3/folders",
          "httpMethod": "GET",
          "flatPath": "v3/folders",
          "parameterOrder": [],
          "parameters": {
            "parent": {
              "location": "query",
              "description": "Required. The resource name of the organization or folder whose folders are being listed. Must be of the form `folders/{folder_id}` or `organizations/{org_id}`. Access to this method is controlled by checking the `resourcemanager.folders.list` permission on the `parent`.",
              "type": "string"
            },
            "showDeleted": {
              "description": "Optional. Controls whether folders in the DELETE_REQUESTED state should be returned. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A pagination token returned from a previous call to `ListFolders` that indicates where this listing should continue from."
            },
            "pageSize": {
              "format": "int32",
              "description": "Optional. The maximum number of folders to return in the response. The server can return fewer folders than requested. If unspecified, server picks an appropriate default.",
              "type": "integer",
              "location": "query"
            }
          },
          "description": "Lists the folders that are direct descendants of supplied parent resource. `list()` provides a strongly consistent view of the folders underneath the specified parent resource. `list()` returns folders sorted based upon the (ascending) lexical ordering of their display_name. The caller must have `resourcemanager.folders.list` permission on the identified parent.",
          "id": "cloudresourcemanager.folders.list",
          "response": {
            "$ref": "ListFoldersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "testIamPermissions": {
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "id": "cloudresourcemanager.folders.testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v3/folders/{foldersId}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "httpMethod": "POST",
          "description": "Returns permissions that a caller has on the specified folder. The `resource` field should be the folder's resource name, for example: \"folders/1234\". There are no permissions required for making this API call.",
          "parameters": {
            "resource": {
              "required": true,
              "pattern": "^folders/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field."
            }
          },
          "path": "v3/{+resource}:testIamPermissions"
        },
        "setIamPolicy": {
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "id": "cloudresourcemanager.folders.setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "v3/folders/{foldersId}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "pattern": "^folders/[^/]+$",
              "location": "path"
            }
          },
          "description": "Sets the access control policy on a folder, replacing any existing policy. The `resource` field should be the folder's resource name, for example: \"folders/1234\". The caller must have `resourcemanager.folders.setIamPolicy` permission on the identified folder.",
          "path": "v3/{+resource}:setIamPolicy"
        }
      }
    },
    "tagValues": {
      "methods": {
        "setIamPolicy": {
          "httpMethod": "POST",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "v3/tagValues/{tagValuesId}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "id": "cloudresourcemanager.tagValues.setIamPolicy",
          "parameters": {
            "resource": {
              "type": "string",
              "pattern": "^tagValues/[^/]+$",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Sets the access control policy on a TagValue, replacing any existing policy. The `resource` field should be the TagValue's resource name. For example: `tagValues/1234`. The caller must have `resourcemanager.tagValues.setIamPolicy` permission on the identified tagValue.",
          "path": "v3/{+resource}:setIamPolicy"
        },
        "create": {
          "httpMethod": "POST",
          "parameters": {
            "validateOnly": {
              "description": "Optional. Set as true to perform the validations necessary for creating the resource, but not actually perform the action.",
              "type": "boolean",
              "location": "query"
            }
          },
          "description": "Creates a TagValue as a child of the specified TagKey. If a another request with the same parameters is sent while the original request is in process the second request will receive an error. A maximum of 300 TagValues can exist under a TagKey at any given time.",
          "response": {
            "$ref": "Operation"
          },
          "id": "cloudresourcemanager.tagValues.create",
          "path": "v3/tagValues",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v3/tagValues",
          "request": {
            "$ref": "TagValue"
          }
        },
        "delete": {
          "flatPath": "v3/tagValues/{tagValuesId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Resource name for TagValue to be deleted in the format tagValues/456.",
              "location": "path",
              "type": "string",
              "pattern": "^tagValues/[^/]+$",
              "required": true
            },
            "etag": {
              "type": "string",
              "location": "query",
              "description": "Optional. The etag known to the client for the expected state of the TagValue. This is to be used for optimistic concurrency."
            },
            "validateOnly": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Set as true to perform the validations necessary for deletion, but not actually perform the action."
            }
          },
          "description": "Deletes a TagValue. The TagValue cannot have any bindings when it is deleted.",
          "path": "v3/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "cloudresourcemanager.tagValues.delete",
          "httpMethod": "DELETE"
        },
        "list": {
          "parameters": {
            "parent": {
              "type": "string",
              "location": "query",
              "description": "Required. Resource name for TagKey, parent of the TagValues to be listed, in the format `tagKeys/123`."
            },
            "pageSize": {
              "description": "Optional. The maximum number of TagValues to return in the response. The server allows a maximum of 300 TagValues to return. If unspecified, the server will use 100 as the default.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A pagination token returned from a previous call to `ListTagValues` that indicates where this listing should continue from."
            }
          },
          "httpMethod": "GET",
          "flatPath": "v3/tagValues",
          "response": {
            "$ref": "ListTagValuesResponse"
          },
          "description": "Lists all TagValues for a specific TagKey.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "cloudresourcemanager.tagValues.list",
          "path": "v3/tagValues",
          "parameterOrder": []
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Retrieves TagValue. If the TagValue or namespaced name does not exist, or if the user does not have permission to view it, this method will return `PERMISSION_DENIED`.",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^tagValues/[^/]+$",
              "type": "string",
              "description": "Required. Resource name for TagValue to be fetched in the format `tagValues/456`.",
              "required": true
            }
          },
          "id": "cloudresourcemanager.tagValues.get",
          "flatPath": "v3/tagValues/{tagValuesId}",
          "path": "v3/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "TagValue"
          }
        },
        "getIamPolicy": {
          "flatPath": "v3/tagValues/{tagValuesId}:getIamPolicy",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          },
          "description": "Gets the access control policy for a TagValue. The returned policy may be empty if no such policy or resource exists. The `resource` field should be the TagValue's resource name. For example: `tagValues/1234`. The caller must have the `cloudresourcemanager.googleapis.com/tagValues.getIamPolicy` permission on the identified TagValue to get the access control policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/{+resource}:getIamPolicy",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "required": true,
              "location": "path",
              "pattern": "^tagValues/[^/]+$",
              "type": "string"
            }
          },
          "id": "cloudresourcemanager.tagValues.getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          }
        },
        "patch": {
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "TagValue"
          },
          "description": "Updates the attributes of the TagValue resource.",
          "parameters": {
            "validateOnly": {
              "type": "boolean",
              "description": "Optional. True to perform validations necessary for updating the resource, but not actually perform the action.",
              "location": "query"
            },
            "updateMask": {
              "type": "string",
              "description": "Optional. Fields to be updated.",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "description": "Immutable. Resource name for TagValue in the format `tagValues/456`.",
              "location": "path",
              "type": "string",
              "pattern": "^tagValues/[^/]+$",
              "required": true
            }
          },
          "flatPath": "v3/tagValues/{tagValuesId}",
          "httpMethod": "PATCH",
          "path": "v3/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudresourcemanager.tagValues.patch"
        },
        "testIamPermissions": {
          "description": "Returns permissions that a caller has on the specified TagValue. The `resource` field should be the TagValue's resource name. For example: `tagValues/1234`. There are no permissions required for making this API call.",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "path": "v3/{+resource}:testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "v3/tagValues/{tagValuesId}:testIamPermissions",
          "parameters": {
            "resource": {
              "pattern": "^tagValues/[^/]+$",
              "required": true,
              "location": "path",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudresourcemanager.tagValues.testIamPermissions"
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "description": "The name of the operation resource.",
              "required": true,
              "location": "path",
              "pattern": "^operations/.*$"
            }
          },
          "flatPath": "v3/operations/{operationsId}",
          "id": "cloudresourcemanager.operations.get"
        }
      }
    }
  },
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://cloudresourcemanager.mtls.googleapis.com/",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "cloudresourcemanager",
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud Resource Manager API",
  "schemas": {
    "UpdateProjectMetadata": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by UpdateProject.",
      "id": "UpdateProjectMetadata",
      "type": "object",
      "properties": {}
    },
    "UndeleteOrganizationMetadata": {
      "id": "UndeleteOrganizationMetadata",
      "type": "object",
      "properties": {},
      "description": "A status object which is used as the `metadata` field for the Operation returned by UndeleteOrganization."
    },
    "ListTagKeysResponse": {
      "id": "ListTagKeysResponse",
      "type": "object",
      "description": "The ListTagKeys response message.",
      "properties": {
        "tagKeys": {
          "items": {
            "$ref": "TagKey"
          },
          "description": "List of TagKeys that live under the specified parent in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to `ListTagKeys` that indicates from where listing should continue."
        }
      }
    },
    "MoveProjectMetadata": {
      "type": "object",
      "id": "MoveProjectMetadata",
      "properties": {},
      "description": "A status object which is used as the `metadata` field for the Operation returned by MoveProject."
    },
    "Project": {
      "description": "A project is a high-level Google Cloud entity. It is a container for ACLs, APIs, App Engine Apps, VMs, and other Google Cloud Platform resources.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The most recent time this resource was modified.",
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "Output only. A checksum computed by the server based on the current value of the Project resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. A user-assigned display name of the project. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, single-quote, double-quote, space, and exclamation point. Example: `My Project`",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state. This is only used/useful for distinguishing unset values.",
            "The normal and active state.",
            "The project has been marked for deletion by the user (by invoking DeleteProject) or by the system (Google Cloud Platform). This can generally be reversed by invoking UndeleteProject."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED"
          ],
          "readOnly": true,
          "description": "Output only. The project lifecycle state."
        },
        "labels": {
          "description": "Optional. The labels associated with this project. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: \\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?. Label values must be between 0 and 63 characters long and must conform to the regular expression (\\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?)?. No more than 256 labels can be associated with a given resource. Clients should store labels in a representation such as JSON that does not depend on specific characters being disallowed. Example: `\"myBusinessDimension\" : \"businessValue\"`",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "projectId": {
          "type": "string",
          "description": "Immutable. The unique, user-assigned id of the project. It must be 6 to 30 lowercase ASCII letters, digits, or hyphens. It must start with a letter. Trailing hyphens are prohibited. Example: `tokyo-rain-123`"
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which this resource was requested for deletion."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The unique resource name of the project. It is an int64 generated number prefixed by \"projects/\". Example: `projects/415104041262`",
          "readOnly": true,
          "type": "string"
        },
        "parent": {
          "description": "Optional. A reference to a parent Resource. eg., `organizations/123` or `folders/876`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Project"
    },
    "DeleteFolderMetadata": {
      "properties": {},
      "id": "DeleteFolderMetadata",
      "type": "object",
      "description": "A status object which is used as the `metadata` field for the `Operation` returned by `DeleteFolder`."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object"
    },
    "CreateTagKeyMetadata": {
      "type": "object",
      "properties": {},
      "id": "CreateTagKeyMetadata",
      "description": "Runtime operation information for creating a TagKey."
    },
    "SearchFoldersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to `SearchFolders` that indicates from where searching should continue.",
          "type": "string"
        },
        "folders": {
          "items": {
            "$ref": "Folder"
          },
          "type": "array",
          "description": "A possibly paginated folder search results. the specified parent resource."
        }
      },
      "id": "SearchFoldersResponse",
      "description": "The response message for searching folders.",
      "type": "object"
    },
    "DeleteTagKeyMetadata": {
      "id": "DeleteTagKeyMetadata",
      "properties": {},
      "type": "object",
      "description": "Runtime operation information for deleting a TagKey."
    },
    "Expr": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object",
      "id": "GetPolicyOptions"
    },
    "DeleteTagValueMetadata": {
      "id": "DeleteTagValueMetadata",
      "description": "Runtime operation information for deleting a TagValue.",
      "type": "object",
      "properties": {}
    },
    "TagBinding": {
      "id": "TagBinding",
      "description": "A TagBinding represents a connection between a TagValue and a cloud resource (currently project, folder, or organization). Once a TagBinding is created, the TagValue is applied to all the descendants of the cloud resource.",
      "properties": {
        "tagValue": {
          "type": "string",
          "description": "The TagValue of the TagBinding. Must be of the form `tagValues/456`."
        },
        "parent": {
          "description": "The full resource name of the resource the TagValue is bound to. E.g. `//cloudresourcemanager.googleapis.com/projects/123`",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the TagBinding. This is a String of the form: `tagBindings/{full-resource-name}/{tag-value-name}` (e.g. `tagBindings/%2F%2Fcloudresourcemanager.googleapis.com%2Fprojects%2F123/tagValues/456`).",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CreateFolderMetadata": {
      "description": "Metadata pertaining to the Folder creation process.",
      "id": "CreateFolderMetadata",
      "properties": {
        "displayName": {
          "description": "The display name of the folder.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "The resource name of the folder or organization we are creating the folder under."
        }
      },
      "type": "object"
    },
    "DeleteOrganizationMetadata": {
      "properties": {},
      "type": "object",
      "description": "A status object which is used as the `metadata` field for the operation returned by DeleteOrganization.",
      "id": "DeleteOrganizationMetadata"
    },
    "Operation": {
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        }
      }
    },
    "DeleteTagBindingMetadata": {
      "type": "object",
      "properties": {},
      "description": "Runtime operation information for deleting a TagBinding.",
      "id": "DeleteTagBindingMetadata"
    },
    "ListTagBindingsResponse": {
      "description": "The ListTagBindings response.",
      "type": "object",
      "id": "ListTagBindingsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime.",
          "type": "string"
        },
        "tagBindings": {
          "description": "A possibly paginated list of TagBindings for the specified resource.",
          "type": "array",
          "items": {
            "$ref": "TagBinding"
          }
        }
      }
    },
    "ListTagValuesResponse": {
      "type": "object",
      "id": "ListTagValuesResponse",
      "description": "The ListTagValues response.",
      "properties": {
        "tagValues": {
          "items": {
            "$ref": "TagValue"
          },
          "type": "array",
          "description": "A possibly paginated list of TagValues that are direct descendants of the specified parent TagKey."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to `ListTagValues` that indicates from where listing should continue. This is currently not used, but the server may at any point start supplying a valid token."
        }
      }
    },
    "MoveFolderRequest": {
      "type": "object",
      "id": "MoveFolderRequest",
      "description": "The MoveFolder request message.",
      "properties": {
        "destinationParent": {
          "type": "string",
          "description": "Required. The resource name of the folder or organization which should be the folder's new parent. Must be of the form `folders/{folder_id}` or `organizations/{org_id}`."
        }
      }
    },
    "UpdateTagValueMetadata": {
      "properties": {},
      "id": "UpdateTagValueMetadata",
      "type": "object",
      "description": "Runtime operation information for updating a TagValue."
    },
    "FolderOperationError": {
      "description": "A classification of the Folder Operation error.",
      "properties": {
        "errorMessageId": {
          "description": "The type of operation error experienced.",
          "enumDescriptions": [
            "The error type was unrecognized or unspecified.",
            "The attempted action would violate the max folder depth constraint.",
            "The attempted action would violate the max child folders constraint.",
            "The attempted action would violate the locally-unique folder display_name constraint.",
            "The resource being moved has been deleted.",
            "The resource a folder was being added to has been deleted.",
            "The attempted action would introduce cycle in resource path.",
            "The attempted action would move a folder that is already being moved.",
            "The folder the caller is trying to delete contains active resources.",
            "The attempted action would violate the max deleted folder depth constraint."
          ],
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "ACTIVE_FOLDER_HEIGHT_VIOLATION",
            "MAX_CHILD_FOLDERS_VIOLATION",
            "FOLDER_NAME_UNIQUENESS_VIOLATION",
            "RESOURCE_DELETED_VIOLATION",
            "PARENT_DELETED_VIOLATION",
            "CYCLE_INTRODUCED_VIOLATION",
            "FOLDER_BEING_MOVED_VIOLATION",
            "FOLDER_TO_DELETE_NON_EMPTY_VIOLATION",
            "DELETED_FOLDER_HEIGHT_VIOLATION"
          ]
        }
      },
      "id": "FolderOperationError",
      "type": "object"
    },
    "CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperation": {
      "description": "Metadata describing a long running folder operation",
      "type": "object",
      "properties": {
        "sourceParent": {
          "description": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the folder."
        },
        "destinationParent": {
          "description": "The resource name of the folder or organization we are either creating the folder under or moving the folder to.",
          "type": "string"
        },
        "operationType": {
          "description": "The type of this operation.",
          "type": "string",
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ],
          "enum": [
[...]
