<?xml version="1.0" encoding="UTF-8"?>
<CreateSubnetResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/"><requestId>mock</requestId><subnet><subnetId>{{ subnet_id }}</subnetId><vpcId>{{ vpc_id }}</vpcId><state>pending</state></subnet></CreateSubnetResponse>
