<?xml version="1.0" encoding="UTF-8"?>
<CreateVpcResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/"><requestId>mock</requestId><vpc><vpcId>{{ vpc_id }}</vpcId><state>pending</state></vpc></CreateVpcResponse>
