<?xml version="1.0" encoding="UTF-8"?>
<ListAllMyBucketsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Buckets>{% for b in buckets %}<Bucket><Name>{{ b.name }}</Name><CreationDate>{{ b.created }}</CreationDate><BucketArn>{{ b.arn }}</BucketArn><BucketRegion>{{ b.region }}</BucketRegion></Bucket>{% endfor %}</Buckets><Owner><ID>mock</ID></Owner></ListAllMyBucketsResult>
