name: Lint

on:
  push:
    branches:
      - master
    tags:
      - actionlint*
  pull_request:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Check workflow files
        uses: docker://rhysd/actionlint:1.6.23
        with:
          args: -color