name: Lint

on:
  push:
    branches:
      - main
    tags:
      - actionlint*
      - build*
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Check workflow files
        uses: docker://rhysd/actionlint:1.6.23
        with:
          args: -color

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: 'v1.52.0'